@{
    Layout = null;
}
@model Examen2.Models.CRUD
<!DOCTYPE html>

<html>
<head>
    <title>Pais PIA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pais PIA</title>
</head>
<body>
    <h1>Tabla de Articulos</h1>

    <a class="btn btn-secondary" href="@Url.Action("Index","Home")">Volver al Menu</a>
    <br />
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id_articulo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Iva</th>
                <th scope="col">Cantidad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var art in ViewBag.arts)
            {
                <tr>
                    <th>@art.IdArticulo</th>
                    <td>@art.Nombre</td>
                    <td>@art.Precio</td>
                    <td>@art.Iva</td>
                    <td>@art.Cantidad</td>
                    @if (ViewBag.modo == 2) // Se muestra el boton de actualizar
                    {
                        <td>
                            <form asp-action="Actualizar" method="post">
                                <input asp-for="IdArticulo" type="hidden" value=@art.IdArticulo />
                                <input class="btn btn-primary" type="submit" value="Actualizar" />
                            </form>
                        </td>
                    }
                    @if (ViewBag.modo == 3) // Se muestra el boton de eliminar
                    {
                        <td>
                            <form asp-action="Delete" method="post">
                                <input asp-for="IdArticulo" type="hidden" value=@art.IdArticulo />
                                <input class="btn btn-danger" type="submit" value="Eliminar" />
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a class="btn btn-secondary" href="@Url.Action("Index","Home")">Volver al Menu</a>

</body>
</html>
